body{
    font-family: 'Open Sans',Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#blogpage{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
footer{
    width: 100%;
    height: 114px;
    text-align: center;
    background-color: #c5c5c5;
    border-top: 2px solid #aaa;
}
nav{
    width: 100%;
    background-color: #fff;
    
}
nav ul{
    margin: 0px;
    padding: 0px;
}
nav li{
    list-style-type: none;
    float: left;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
}
.table{
    display: table;
    margin: 0 auto;
    }
    section{
        width: 100%;
        
        box-sizing: border-box;
    }
    
    .fond{
        background-image: url("img/fond bakeli.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 500px;
       
    }
    .log{
        width: 100%;
        height: 400px;
        padding-top: 30px;
    }
    .left{
        background-color: rgba(170, 170, 170, 0.815);
        width: 100%;
        height: 400px;
        padding-top: 150px;
        
        
    }
    .logo{
        width: 100%;  
        height: 400px;
    
     }
       
   .logo img{
            width: 337px;
            height: 200px;
            float: left;  
        }
   .fond {
       text-align: center;
       line-height: 15px;
       color: #fff;
       padding-top: 200px ;
      
   }
 .bak img{   
       border-radius: 15px ;
   }
   .p
   {
       display: flex;
       width: 30%;
       height: 30px;
       border: 5px solid #313131;
       margin: auto;
       background-color: #313131;
   }
   .p p{
       margin: auto;
       text-align: center;
       font-size: 16px;
   }
  
  .dev, .des, .mark{
     display: inline-block;
     width: 30%;
   }

  .dev i,  .des i, .mark i{
      width: 25%;
      height: 80px; 
      padding-top: 30px;
      border: 1px solid #008383;
      border-radius: 50px;
     }
  .dev h2, p, .des h2, p, .mark h2, p{
      text-align: center;
  }
 .left h1{
     text-align: center;
     font-size: 25px;
 }
 .s,.o, .u, .O{
     
   display: inline-block;
   width: 24%;
   font-size: 18px;
 }
 
 .bar{
    width: 100%;
    height: 400px;
    padding-top: 30px;
 }
 .container{
     width: 30%;
     height: auto;
     margin: 25px ;
    
 }
 label{
    display: block;
    font-size: 14px;
    margin: 10px;
    padding-left: 100px;
}
progress{
    width: 100%;
    height: 24px;
    padding: 14px;
    background-color: #aaa;
    border: 2px solid #fff;
    border-radius: 50px;
    position: relative;
}
progress::before{
    content: "";
    width: 90%;
    height: 10px;
    padding: 9px;
    background-color: #668f7f;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
}
#aprogress::before{
    content: "";
    width:70%;
    height: 10px;
    padding: 9px;
    background-color: #668f7f;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
}
#bprogress::before{
    content: "";
    width:80%;
    height: 10px;
    padding: 9px;
    background-color: #668f7f;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
}
#cprogress::before{
    content: "";
    width:60%;
    height: 10px;
    padding: 9px;
    background-color: #668f7f;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
}
.bar strong{
    float: right;
    padding-right: 40px;
    font-size: 10px;
}
.para{
    text-align:center;
    }
    .bleft, .bright {
     display: inline-block;
     width: 30%;
    padding-left: 200px;

    }
    progress{
        width: 150px;
        height: 20px;
    }
   
     .form {
         width: 100%;
        background-color: #668f7f;
        height: 540px;
        padding-top: 20px;
    }
     
    .f, .h, .f2, .h2{
        display: inline-block;
        width: 20%;
        padding-left: 64px;
    }
    .f img, .h img, .f2 img, .h2 img{
        padding-top: 50px;
        width: 200px;
        height: 200px;
        
    }
    .f p, .h p, .f2 p , .h2 p{
        border: 1px solid #fff;
        background-color: #fff;
        width: 200px;
        height: 50px;       
    }
    .form h2, .p2{
        text-align: center;
     }
   
  .form h2, .p2{
      color: #fff;
  }
  
    .avant {
        text-align: center;
        height: 298px;
        padding-top: 50px;
     }
   .one, .tree{
       line-height: 70px;
   }
   .tree{
       font-weight: bold;
   }
  .con{
      background-color: rgba(170, 170, 170, 0.664);
      width: 100%;
      height: 500px;
      padding-top: 30px;
  }
    
    .con h2{ 
        text-align: center;
    }
   .join{
      display: flex;
      font-size: 15px;
      
   }
    .join p{
        padding:100px; 
        text-align: justify;
        line-height: 30px;
    }
  @media screen and (max-width: 900px) {
      .table{
          display: table;
          width: 100px;
          font-size: 10px;
      }
      .fond{
          padding: none;

      }
  .bak img{   
        border-radius: 8px ;
        width: 10%;
    }
    .p
    {
        display: flex;
        width: 20%;
        height: 8px;
        border: 1px solid #313131;
        background-color: #313131;
    }
    .p p{
        margin: auto;
        text-align: center;
        font-size: 5px;
    }
    .Hen{
        font-size: 8px;
        line-height: 5px;
    }
    .dev, .des, .mark{
        display:inline-block;
        width: 30%;
        padding-left: 11px;
      }
   
     .dev i,  .des i, .mark i{
         width: 30%;
         height: 30px; 
         border: 1px solid #008383;
         border-radius: 30px;
         padding-bottom: 5px;
        }
     .dev h2, p, .des h2, p, .mark h2, p{
         text-align: center;
         font-size: 10px;
     }
     .left h1{
        text-align: center;
        font-size: 15px;
    }
    .s,.o, .u, .O{
        
      display: inline-block;
      width: 24%;
      font-size: 15px;
    }
    .logo img{
        height: 50px;
    }
    .bar{
        width: 100%;
        height: 400px;
        padding-top: 30px;
        padding-bottom: 100px;
     }
        .bleft, .bright {
        float: left;
        padding-left: 30px;
         width: 30%;
       
      }
      .f, .h, .f2, .h2{
        display: inline-block;
        width: 20%;
        padding-left: 64px;
    }
    .f img, .h img, .f2 img, .h2 img{
        padding-top: 50px;
        width: 90px;
        height: 90px;
        
    }
    .f p, .h p, .f2 p , .h2 p{
        border: 1px solid #fff;
        background-color: #fff;
        width: 90px;
        height: 50px;       
    }
   
      .con h2{ 
          text-align: center;
          font-size: 18px;
      }
     .join{
        display: inline-block;
        font-size: 10px;
        
     }
      .join p{
          padding: 25px;
          text-align: justify;
          line-height: 15px;
      }
  
  }


   
        